<!-- FOOTER  -->
<div class="footer">
<div class="container-fluid text-white">
    <h2 class="text-center text-uppercase" style="padding-top:30px;">Let's Connect</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center mt-3">
            <h5>My profiles</h5>
    <a href="#" class="btn"><img src="https://shehzonia.github.io/portfolio-website/imgs/25231.png" class="img-rounded" width="30px" height="30px"></a>
    <a href="www.linkedin.com/in/fatima-4ab59a245" target="_blank" class="btn"><img src="https://shehzonia.github.io/portfolio-website/imgs/174857.png" width="30px" height="30px"></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center mt-3">
        <h5 class="my-2">Contact</h5>
    <p>+923222569458</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center mt-3">
        <h5 class="my-2">EMAIL ADDRESS</h5>
    <a href="mailto:shehzoniafatima58@gmail.com" class="text-white">shehzoniafatima58@gmail.com</a>
    </div>
    </div>
    
    </div>
    <hr style="background-color: aliceblue;" />
<div class="mx-auto text-white text-center p-3" style="margin:auto;">
    <p class="text-uppercase">Shehzonia Fatima | Built using Angular 2023</p>
</div>
   
</div>