<nav class="navbar navbar-expand-lg navbar-dark fixed-top nb text-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto text-uppercase p-1">
        <a class="nav-link active" (click)="scrollToSection('home')">Home</a>
        <a class="nav-link active" (click)="scrollToSection('skills')">Skills</a>
        <a class="nav-link active" (click)="scrollToSection('projects')">Projects</a>

      </div>
    </div>
  </nav>