<!-- PROJECTS  -->

<div id="projects" class="container-fluid p-3 bg2">
  <div class="text-center">
    <h1 class="text-uppercase hproj">My projects</h1>
    <button (click)="toggle()" id="bt" class="my-4">{{ buttonName }}</button>
  </div>

  <!-- FRONTEND P SHOW -->

  <div *ngIf="show" class="row my-5 text-dark projs">
    <div class="col-lg-3 col-md-3 col-sm-10">
      <div class="card shadow-sm">
        <img
          src="../../assets/images/Screenshot_1.jpg"
          class="card-img-top"
          alt="sanjalika"
        />
        <div class="card-body">
          <h5 class="card-title">Sanjalika Waterpark</h5>
          <p class="card-text">
        Built a static website “Sanjalika Waterpark” on the basis of HTML, CSS, Bootstrap. 
          </p>
          <a
            href="https://shehzonia.github.io/waterworld/"
            class="btn btn-primary"
            >Preview this project</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-10">
      <div class="card shadow-sm">
        <img
          src="../../assets/images/Screenshot_2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Properties Agents</h5>
          <p class="card-text">
            This PSD to HTML project was designed as a sample purpose for freelancing services.
          </p>
          <a
            href="https://shehzonia.github.io/123fin_task/"
            class="btn btn-primary"
            >Preview this project</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-10">
      <div class="card">
        <img
          src="../../assets/images/Screenshot_3.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LUNCH MUNCH</h5>
          <p class="card-text">
            Startup for software exhibitions in Pakistan “Aptech Vision” held in Ramada Plaza.
          </p>
          <a
            href="https://shehzonia.github.io/lm_new/index.html"
            class="btn btn-primary"
            >Preview this project</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-10">
        <div class="card">
          <img
            src="../../assets/images/Screenshot_6.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Social Media App using React JS</h5>
            <p class="card-text">
             A website using React Js with SASS,hooks,Dark/Light Mode.
            </p>
            <a
              href="https://social-media-design-c1f69.web.app/home"
              class="btn btn-primary"
              >Preview this project</a
            >
          </div>
        </div>
      </div>
  </div>

  <!-- BACKEND P SHOW -->

  <div class="row my-5 text-dark projs" *ngIf="show2">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card shadow-sm">
        <img
          src="../../assets/images/Screenshot_4.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Online discussion forum</h5>
          <p class="card-text text-capitalize">
            An online disucssion with sign up,sign in,account creation,posting and commenting functionalities built with PHP, Mysql.
          </p>
          <a
            href="http://shehcmsweb.infinityfreeapp.com/Forum/Login.php"
            class="btn btn-primary"
            >Preview this project</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card shadow-sm">
        <img
          src="../../assets/images/Screenshot_5.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Covid Vaccination Management</h5>
          <p class="card-text">
            It was developed using technologies such as PHP, MySQL etc.Its goal was to get users registered and they can book an appointment,
          </p>
          <a
            href="https://shehcmsweb.infinityfreeapp.com/CMS/patients/"
            class="btn btn-primary"
            >Preview this project</a
          >
        </div>
      </div>
    </div>


   <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card shadow-sm">
        <img
          src="../../assets/images/ecom.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Ecommerce Website</h5>
          <p class="card-text">
            OOP PHP and MySQL, Sessions and Cookies, Add to Cart, Checkout, Generate invoice in PDF format.
          </p>
          <a target = "_blank"
            href="https://shehcmsweb.infinityfreeapp.com/CMS/Electronics_ecommerce/"
            class="btn btn-primary"
            >Preview this project</a>
        </div>
      </div>
    </div>
  </div>


  

  <!-- ExtraCurrricular -->


